
header {
  background: #6DC3BB;
}

main{
  display grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer';
  grid-gap: 30px;

aside {
  background: #46A69D;
}

article {
  background: #AEDDD9;
} 

footer {
  background: #32746E;
  color:#fff;
}
